.sensuba-card-destroy {

	animation: card-destroy 0.4s 1;
}

@keyframes card-destroy {
  0% { font-size: 1em; margin: 0vw; filter: brightness(1); }
  50% { font-size: 0.5em; margin: 3.15vw 4.15vw; filter: brightness(0); }
  100% { font-size: 0vw; margin: 6.3vw 8.3vw; filter: brightness(0); }
}

@media (min-width: 601px) {

  .sensuba-card-destroy {

    animation: card-destroy 0.4s 1;
  }

  @keyframes card-destroy {
    0% { font-size: 0.95em; margin: 0vw; filter: brightness(1); }
    50% { font-size: 0.475em; margin: 2.59875vh 3.42375vh; filter: brightness(0); }
    100% { font-size: 0vw; margin: 5.1975vh 6.8475vh; filter: brightness(0); }
  }
}