.game-hand {

	width: 100%;
	justify-content: space-around;
	height: 16vw;
	box-sizing: border-box;
	pointer-events: none;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.game-hand-card {

    z-index: 1;
    width: 8vw;
    height: 6vw;
	pointer-events: all;
	transition: 0.4s left, 0.4s transform, 0.2s filter;
	margin: 1vw;
}

.game-hand-card-unplayable {

	filter: grayscale(0.5) brightness(0.6);
}

.game-hand-card .game-card-wrapper {

	font-size: 1.2vw;
	border-radius: 1.45vw;
	border-bottom-left-radius: 60% 12%;
	border-bottom-right-radius: 60% 12%;
}

.self-area .game-hand-card {

    cursor: pointer;
}

.self-area .game-hand-card:hover .game-card-wrapper {

	top: 1vw;
}

.opposite-area .game-hand-card .game-card-wrapper {

    top: 1.5vw;
}

.opposite-area .game-hand-card:hover .game-card-wrapper {

	top: 1vw;
}

.self-area .game-hand-card:hover {

    z-index: 2;
}

.card-focus {

	box-shadow: 0 0 0.2em 0.2em red;
}

@media only screen and (max-width: 600px) {
  
  .game-hand-card {

  	width: 18%;
  	height: 13.5vw;
  	font-size: 2em;
  	margin: unset;
  	padding: 1%;
  }

  .game-hand {

  	pointer-events: all;
    overflow: auto;
    padding: 1vw;
  }

  .game-hand-card .game-card-wrapper {

  	top: 10vw;
  	font-size: 2vw;
  }

	.opposite-area .game-hand {

  		transform: none;
  		left: unset;
  		right: 0;
	}

	.opposite-area .game-hand-card {

  		width: 3%;
	}

	.self-area .game-hand-card:hover .game-card-wrapper {

		top: 3vw;
	}

	.opposite-area .game-hand-card .game-card-wrapper {

	    top: 4.5vw;
	}

	.opposite-area .game-hand-card:hover .game-card-wrapper {

		top: 3vw;
	}
}