.sensuba-card {

	width: 8em;
	height: 6em;
	position: relative;
  	filter: drop-shadow(#00000060 0.15rem 0.15rem);
}

.sensuba-card .card-image-wrapper {

	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	overflow: hidden;
	transform: translate(0.1em, -0em);
	width: 8.3em;
	height: 6.3em;
}

.sensuba-card .card-image-wrapper.no-mana {

	left: -0.5em;
    width: 9.1em;
    border-radius: 1em;
}

.sensuba-card .card-image-wrapper img {

	object-fit: cover;
}

.sensuba-card .card-mana {

	position: absolute;
	top: -0.35em;
	left: -0.4em;
	width: 1.444em;
	height: 1.444em;
    -webkit-text-stroke-width: 0.04rem;
    -webkit-text-stroke-color: #352e1d;
	z-index: 1;
	color: #352e1d;
	text-shadow: 0.03em 0.03em #70530c80;
	justify-content: center;
	align-items: center;
	font-size: 1.8em;
	line-height: 1.8em;
	pointer-events: none;
}

.sensuba-card.red-card .card-mana { color: #351d1d; -webkit-text-stroke-color: #351d1d; }
.sensuba-card.blue-card .card-mana { color: #1a3b54; -webkit-text-stroke-color: #1a3b54; }
.sensuba-card.green-card .card-mana { color: #25351d; -webkit-text-stroke-color: #25351d; }
.sensuba-card.black-card .card-mana { color: #301d35; -webkit-text-stroke-color: #301d35; }

.sensuba-card .card-mana-img {

	position: absolute;
	top: -0.6em;
	left: -0.6em;
	width: 2.6em;
	height: 2.6em;
	object-fit: cover;
}

.sensuba-card .card-frame {

	position: absolute;
	top: -0.6em;
	left: -0.6em;
	width: 9.1em;
	height: 7em;
	object-fit: contain;
	filter: drop-shadow(0.1rem 0.1rem #000000A0);
}


.sensuba-card.red-card .card-frame { filter: drop-shadow(0.1rem 0.1rem #000000A0) hue-rotate(315deg); }
.sensuba-card.blue-card .card-frame { filter: drop-shadow(0.1rem 0.1rem #000000A0) hue-rotate(150deg); }
.sensuba-card.green-card .card-frame { filter: drop-shadow(0.1rem 0.1rem #000000A0) hue-rotate(80deg); }
.sensuba-card.black-card .card-frame { filter: drop-shadow(0.1rem 0.1rem #000000A0) hue-rotate(230deg); }

.sensuba-card .card-frame.no-mana {

	display: none;
	top: -0.35em;
    width: 9.5em;
}

.sensuba-card .card-stat {

	position: absolute;
	top: -0.6em;
	right: -0.6em;
	width: 2.6em;
	height: 2.6em;
	object-fit: contain;
	filter: drop-shadow(0.1rem 0.1rem #000000A0);
}

.sensuba-card .card-stat-icon {

	position: absolute;
	top: 0;
	left: 0;
	width: 2.6em;
	height: 2.6em;
	object-fit: contain;
	filter: drop-shadow(0.1rem 0.1rem #000000A0);
}

.sensuba-card .card-atk {

	right: 2em;
}

.sensuba-card .card-stat-value {

	position: absolute;
	top: 0;
	left: 0;
	color: white;
	font-size: 2em;
	width: 1.3em;
	justify-content: center;
	text-align: center;
	-webkit-text-fill-color: white#1c2530;
    -webkit-text-stroke-width: 0.08rem;
    -webkit-text-stroke-color: #1c2530;
    font-family: Impact;
}

.sensuba-card .card-stat-value.card-stat-value-buff {

	-webkit-text-fill-color: #00e51c;
    -webkit-text-stroke-color: #1b351b;
}

.sensuba-card .card-stat-value.card-stat-value-debuff {

	-webkit-text-fill-color: #ff0000;
    -webkit-text-stroke-color: #e9b3b3;
}

.sensuba-card .card-mana.card-mana-buff {

	-webkit-text-fill-color: #00e51c;
    -webkit-text-stroke-color: #089619;
    font-weight: bold;
}

.sensuba-card .card-mana.card-mana-debuff {

	-webkit-text-fill-color: #ff0000;
    -webkit-text-stroke-color: #970000;
    font-weight: bold;
}

.sensuba-card .card-image-placeholder {

	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	transform: translate(0.1em, -0em);
	width: 8.3em;
	height: 6.3em;
}

.sensuba-card .card-image-placeholder .px, .sensuba-hero .card-image-placeholder .px {

	width: 25%;
	height: 25%;
}

.sensuba-card.white-card .card-image-placeholder .px {

	background: #7d704d;
	animation: white-px linear 4s infinite;
}

.sensuba-card.red-card .card-image-placeholder .px {

	background: #7d4d4d;
	animation: red-px linear 4s infinite;
}

.sensuba-card.blue-card .card-image-placeholder .px {

	background: #4d657d;
	animation: blue-px linear 4s infinite;
}

.sensuba-card.green-card .card-image-placeholder .px {

	background: #527d4d;
	animation: green-px linear 4s infinite;
}

.sensuba-card.black-card .card-image-placeholder .px {

	background: #754d7d;
	animation: black-px linear 4s infinite;
}

.sensuba-card .card-image-placeholder .px:nth-child(1), .sensuba-hero .card-image-placeholder .px:nth-child(1) { animation-delay: 0 !important }
.sensuba-card .card-image-placeholder .px:nth-child(2), .sensuba-hero .card-image-placeholder .px:nth-child(2) { animation-delay: 2.25s !important }
.sensuba-card .card-image-placeholder .px:nth-child(3), .sensuba-hero .card-image-placeholder .px:nth-child(3) { animation-delay: 3.5s !important }
.sensuba-card .card-image-placeholder .px:nth-child(4), .sensuba-hero .card-image-placeholder .px:nth-child(4) { animation-delay: 1.75s !important }

.sensuba-card .card-image-placeholder .px:nth-child(5), .sensuba-hero .card-image-placeholder .px:nth-child(5) { animation-delay: 2s !important }
.sensuba-card .card-image-placeholder .px:nth-child(6), .sensuba-hero .card-image-placeholder .px:nth-child(6) { animation-delay: 0.25s !important }
.sensuba-card .card-image-placeholder .px:nth-child(7), .sensuba-hero .card-image-placeholder .px:nth-child(7) { animation-delay: 1.5s !important }
.sensuba-card .card-image-placeholder .px:nth-child(8), .sensuba-hero .card-image-placeholder .px:nth-child(8) { animation-delay: 3s !important }

.sensuba-card .card-image-placeholder .px:nth-child(9), .sensuba-hero .card-image-placeholder .px:nth-child(9) { animation-delay: 3.25s !important }
.sensuba-card .card-image-placeholder .px:nth-child(10), .sensuba-hero .card-image-placeholder .px:nth-child(10) { animation-delay: 1.25s !important }
.sensuba-card .card-image-placeholder .px:nth-child(11), .sensuba-hero .card-image-placeholder .px:nth-child(11) { animation-delay: 0.5s !important }
.sensuba-card .card-image-placeholder .px:nth-child(12), .sensuba-hero .card-image-placeholder .px:nth-child(12) { animation-delay: 2.5s !important }

.sensuba-card .card-image-placeholder .px:nth-child(13), .sensuba-hero .card-image-placeholder .px:nth-child(13) { animation-delay: 1s !important }
.sensuba-card .card-image-placeholder .px:nth-child(14), .sensuba-hero .card-image-placeholder .px:nth-child(14) { animation-delay: 3s !important }
.sensuba-card .card-image-placeholder .px:nth-child(15), .sensuba-hero .card-image-placeholder .px:nth-child(15) { animation-delay: 3.75s !important }
.sensuba-card .card-image-placeholder .px:nth-child(16), .sensuba-hero .card-image-placeholder .px:nth-child(16) { animation-delay: 0.75s !important }

@keyframes white-px {

	0% { background: #7d704d }
	20% { background: #c2b89f }
	40% { background: #7d7769 }
	60% { background: #544b37 }
	80% { background: #c4b289 }
	100% { background: #7d704d }
}

@keyframes red-px {

	0% { background: #7d4d4d }
	20% { background: #c29f9f }
	40% { background: #7d6969 }
	60% { background: #543737 }
	80% { background: #c48989 }
	100% { background: #7d4d4d }
}

@keyframes blue-px {

	0% { background: #4d657d }
	20% { background: #9fb0c1 }
	40% { background: #68737d }
	60% { background: #364553 }
	80% { background: #88a6c3 }
	100% { background: #4d657d }
}

@keyframes green-px {

	0% { background: #527d4d }
	20% { background: #a2c19f }
	40% { background: #6a7d68 }
	60% { background: #395336 }
	80% { background: #8ec388 }
	100% { background: #527d4d }
}

@keyframes black-px {

	0% { background: #754d7d }
	20% { background: #bc9fc1 }
	40% { background: #7a687d }
	60% { background: #4e3653 }
	80% { background: #b988c3 }
	100% { background: #754d7d }
}