.nav-options {

	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.options-icon {

	width: 2rem;
	height: 2rem;
	background: url('./options.png');
	background-size: 100%;
	background-repeat: no-repeat;
	filter: brightness(1.0) drop-shadow(0.2rem 0.2rem #000000A0);
	transition: filter 0.2s, transform 0.4s;
	transform: rotateZ(0deg);
}

.main-page.light .options-icon {

	filter: brightness(0.2);
}

.nav-options:hover .options-icon {

	transform: rotateZ(90deg);
}